#divPoi ul {

    display: inline;
    float: left;
    border: 1px solid gray;
    list-style: none;

}


div#divIntervalos {
    width: auto;
    height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.intervaloDiv {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-left: 1px solid;
}