{% extends "layout.html" %}
{% block content %}

{% if relat %}
<div  id="divAIA">

{{ relat|safe }}
{% endif %}

</div>

<br>
<div class="collection">
    <a class="collection-item" href="/apriori"> Encontrar padrões e gerar regras de associação</a>
    <a  class="collection-item" href="/imprimirIntervalos" target="_blank"> List temporal intervals</a>
    <a  class="collection-item" href="/intervalosInteresse.png" target="_blank">Show intervals visualization</a>
</div>
<div>
    <form >

    </form>
</div>
{% endblock %}
