{% extends "layout.html" %}
{% block content %}

{% if relat %}

<h3>Allen's Intervalar Algebra relations:</h3>
<div  id="divAIA">

    {{ relat|safe }}


</div>
   <h5>Number of relations: {{ qtdRel|safe }}</h5>
{% endif %}





     <div class="collection">
        <a class="collection-item" href="/apriori"> Identify patterns and Generate association rules</a>
        <a  class="collection-item" href="/imprimirIntervalos" target="_blank"> List temporal intervals</a>
        <a  class="collection-item" href="/intervalosInteresse.png" target="_blank">Show temporal intervals (visualization)</a>
    </div>
{% endblock %}
