{% extends "layout.html" %}
{% block content %}

{% if padroes %}
    <h3>Patterns in dataset</h3>
    <div  id="divPadroes">


    {{ padroes|safe }}
{% endif %}

</div>
<h4>Number of patterns:     {{ qtdPat|safe }}</h4>
<hr>

{% if regras %}

    <h3>Association Rules generated</h3>
    <div  id="divRegras">

    {{ regras|safe }}
    {% endif %}

    </div>
<h4>Number of rules:     {{ qtdRul|safe }}</h4>
<hr>


<br>
<div class="collection">
    <a  class="collection-item" href="/imprimirIntervalos" target="_blank"> List temporal intervals</a>
    <a  class="collection-item" href="/intervalosInteresse.png" target="_blank">Show intervals visualization</a>
</div>
{% endblock %}
