{% extends "layout.html" %}
{% block content %}

{% if padroes %}
<div  id="divPadroes">
<h1>Padrões encontrados</h1>
    <br />
{{ padroes|safe }}
{% endif %}

</div>

{% if regras %}
<div  id="divRegras">
<br />
    <h1>Regras de associação geradas</h1>
<br />
{{ regras|safe }}
{% endif %}

</div>


<br>
<div class="collection">
    <a class="collection-item" href="/intervalosInteresse.png"> Gerar Intervalos</a>
     <a  class="collection-item" href="/imprimirIntervalos" target="_blank"> List temporal intervals</a>
    <a  class="collection-item" href="/intervalosInteresse.png" target="_blank">Show intervals visualization</a>
</div>
{% endblock %}
