<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ART-Q: an Assotiation Rule miner Based on Temporal and Quantitative continuous data</title>
         <!--
        -->

    <!-- materialize -->
  <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

         <link rel="stylesheet" href="{{url_for('static',filename='materialize/css/materialize.css')}}">
         <link rel="stylesheet" href="{{url_for('static',filename='styles/navbar.css')}}">
         <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename='materialize/js/materialize.js')}}"></script>







     </head>
    <body>

    <div class="nav">

    <span id="parametersNAvTop"> Min. sup: {{ pms }} Min. conf: {{ pmc }} Max interval size (in days): {{piw}} Max window to consider relations (in days):  {{prw}}</span>
    </div>

    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> ART-q</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>    <a href="/index"  >Home</a></li>
        <li class="active"> <a href="/artq"  >run ART-q</a></li>
        <li>    <a href="/reset"  >reset</a></li>
        <li>    <a href="https://github.com/rafaelstojoao/artq-flask" target="_blank">see on Github</a></li>
        <li>    <a href="/sobre"  >About</a></li>
      </ul>
    </div>
  </nav>

