<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ART-Q: an Assotiation Rule miner Based on Temporal and Quantitative continuous data</title>
         <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
         <link rel="stylesheet" href="{{url_for('static',filename='styles/navbar.css')}}">
     </head>
    <body>

    <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      ART-q:
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">

    <a href="/index"  >Home</a>
    <a href="/artq"  >run ART-q</a>
    <a href="/reset"  >reset</a>
    <a href="https://github.com/rafaelstojoao/artq-flask" target="_blank">see on Github</a>
    <a href="/sobre"  >About</a>
  </div>
</div>

