{% extends "layout.html" %}
{% block content %}

 	<div>

<br><br><br>

  <form action="#">
    <p class="range-field">
		<ul>
		  	<li>	<input type="range" id="minsupSlider" min="0" max="100" />		  Value: <span id="minsupValueLabel"></span></li>
		  	<li>    <input type="range" id="mincconfSlider" min="0" max="100" /></li>
	  		<li>	<input type="range" id="interestwindowSlider" min="0" max="1000" /></li>
 			<li>    <input type="range" id="relationwindowSlider" min="0" max="1000" /></li>
  </ul>



    </p>
  </form>

<script>
var slider = document.getElementById("minsupSlider");
var output = document.getElementById("minsupValueLabel");
output.innerHTML = slider.value/100;

slider.oninput = function() {
  output.innerHTML = this.value/100;
}
</script>

		{% if configOk %}



		<hr/>
		<div id="setup">
			<h2>Setup:</h2>
			<ul class="collection">
				<li class="collection-item">Min. sup: {{ pms }}</li>
				<li class="collection-item">Min. conf: {{ pmc }}</li>
				<li class="collection-item">Max interval size (in days): {{piw}}</li>
				<li class="collection-item">Max window to consider relations (in days):  {{prw}}</li>
			</ul>
		</div>
		<hr/>
		<div class="row">
<h2>Input database:</h2>
			<form  class="col s12" action='/artq' method = "POST" enctype="multipart/form-data">

				<div class="input-field col m6	">
					    <div class="file-field input-field">
						  <div class="btn">
							<span>File</span>
							<input type="file" name="databaseForm">
						  </div>
						  <div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						  </div>
						</div>
				</div>

				<div class="input-field col m6">
          			<span>(Process data) </span><br>
					<input type="checkbox" value="processdata">
					<input type="submit" class="btn " Value="Hopla!" alt='the french phrase to mean "here we go" "there we go"' title='the french phrase to mean "here we go" "there we go"'>
				</div>
			</form>
		</div>
		<hr/>
		{% else %}
		<hr>
		<h2>Setup:</h2>
		<div id="artqFormSetup" >
			<form action='/artqconfig' method = "POST"  >
				<label for="inpminsup">Min Sup: </label><span class="right">blank== 0.1</span>
				<input	type="number" placeholder="Please, insert minsup parameter" step="0.0001" name="inpminsup">
				<br/>

				<label for="inpminconf">Min Conf: </label><span class="right"> blank== 0.5</span>
				<input	type="number" placeholder="Please, insert minconf parameter" step="0.0001" name="inpminconf"><br/>

				<label for="inpintwind">Max interval size (in days): </label><span class="right">blank== 50</span>
				<input	type="number" placeholder="Please, insert the interval window parameter" name="inpintwind"><br/>

				<label for="inprelwind">Max window to consider relations (in days) </label><span class="right">blank== 15</span>
				<input	type="number" placeholder="Please, insert the relation window parameter" name="inprelwind"> <br/>

					<button class="button right"  type="submit" Value="set parameters!" alt='set parameters' title='set parameters'><span>set parameters </span></button>
			</form>
			<br><br><br>
			</div>
		<hr/>
		{% endif %}

	</div>
 	<div>
		{% if conteudoArq %}
			<div class="showData"  >


				{% for line in conteudoArq %}
					 {{line}}<br/>
				{% endfor %}


			</div>
		{% endif %}
 	</div>
		{% if medias %}
<div class="row">
			<form action="/poi" method="POST">
				<h1>Values:</h1>
				<div id="artqDivTableAtts">
					{{ medias|safe}}
				</div>

				<input type="submit" class="btn right" value="Find POI (Points of Interest)">
			</form>
</div>
<br>
		{% endif %}
{% endblock %}

